.board {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-auto-rows: 75px;
}

.board-square {
  &:hover {
    cursor: pointer;
  }

  &.board-square-light {
    background-color: sandybrown;
  }

  &.board-square-dark {
    background-color: saddlebrown;
  }

  &.board-square-new-potential-position {
    background-color: lightgreen;
  }

  &.board-square-check {
    background-color: red;
  }

  &.board-square-highlight {
    background-color: yellow;
  }
}

.square-piece {
  width: 75px;
  height: 75px;
}

.winner {
  position: absolute;
  top: 45%;
  left: 45%;
  color: red;
  font-weight: bold;
}

.captured-pieces {
  display: flex;
  flex-wrap: wrap;
}
