.game-play-container {
  display: flex;
}

.game-play-history {
  margin-left: 20px;
  flex: 1;
}

.board {
  .board-row {
    display: flex;
    align-items: center;
  }

  .board-row-column-label {
    margin-left: 30px;
  }

  .board-row-number {
    width: 30px;
  }

  .board-column-letter {
    width: 75px;
    height: 30px;
  }
}

.board-square {
  height: 75px;
  width: 75px;

  &:hover {
    cursor: pointer;
  }

  &.board-square-light {
    background-color: sandybrown;
  }

  &.board-square-dark {
    background-color: saddlebrown;
  }

  &.board-square-new-potential-position {
    background-color: lightgreen;
  }

  &.board-square-check {
    background-color: red;
  }

  &.board-square-highlight {
    background-color: yellow;
  }
}

.square-piece {
  width: 75px;
  height: 75px;
}

.winner {
  position: absolute;
  top: 45%;
  left: 45%;
  color: red;
  font-weight: bold;
}

.captured-pieces {
  display: flex;
  flex-wrap: wrap;
}
